<% if(erros.length > 0) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button><strong>
      <%  erros.forEach(erro =>{ %>
        <%= erro %><br>
      <% }); %>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% } %>

<% if(sucesso.length > 0) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button><strong>
    <%  sucesso.forEach(sucess =>{ %>
      <%= sucess %><br>
    <% }); %>
   </strong>  
</div>

<% } %>


