<nav class="pcoded-navbar">
  <div class="sidebar_toggle">
    <a href="#"><i class="icon-close icons"></i></a>
  </div>
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <img
          class="img-80 img-radius"
          src="/assets/images/fabio.jpg"
          alt="User-Profile-Image"
        />
        <div class="user-details">
          <a href="/"
            ><span id="more-details"
              >Fabio Pereira<i class="fa fa-caret-down"></i
            ></span>
          </a>
        </div>
      </div>
    </div>
    <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">
      Dashboard
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.basic-components.main"
            >Mensagem</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a href="/whatsapp/mensagem_comum" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >Mensagem Comum</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class=" ">
            <a
              href="/whatsapp/mensagem_via_importacao"
              class="waves-effect waves-dark"
            >
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Mensagem via importacao</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class=" ">
            <a
              href="/whatsapp/mensagem_via_imagem"
              class="waves-effect waves-dark"
            >
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Mensagem com Imagem</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class=" ">
            <a
              href="/whatsapp/mensagem_via_contatos"
              class="waves-effect waves-dark"
            >
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span
                class="pcoded-mtext"
                data-i18n="nav.basic-components.breadcrumbs"
                >Mensagem para Contatos</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.basic-components.main"
            >Começar</span
          >
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class=" ">
            <a href="/" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >Iniciar a Sessão</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class=" ">
            <a href="/" class="waves-effect waves-dark">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert"
                >Status</span
              >
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
